.container{
    min-height: 100vh;
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

    .text{
        text-align: center;
        font-size: 30vw;
        color: #fff;
        text-shadow: 1px 1px 0 #0002,
                     1px 1px 0 #aaa,
                     2px 2px 0 #aaa,
                     3px 3px 0 #aaa,
                     4px 4px 0 #aaa,
                     5px 5px 0 #aaa,
                     6px 6px 0 #aaa,
                     7px 7px 0 #aaa,
                     8px 8px 0 #aaa,
                     9px 9px 0 #aaa,
                     10px 10px 0 #aaa,
                     11px 11px 0 #aaa,
                     12px 12px 0 #aaa,
                     13px 13px 0 #aaa,
                     14px 14px 0 #aaa,
                     15px 15px 0 #0009,
                     20px 20px 10px #0009;
    }

    .content{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;

        p{
            font-size: 30px;
            color: #fff;
            text-shadow: 0 5px 10px #000;
            padding: 25px 0;
            line-height: 40px;
        }

        .btn{
            display: inline-block;
            height: 50px;
            width: 250px;
            line-height: 50px;
            background: #fff;
            color: #444;
            font-size: 20px;
            box-shadow: 0 5px 10px #0009;

            &:hover{
                transform: scale(.9);
            }

        }

    } 

}