*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    transition: all .3s linear;
}

body{
    overflow: hidden;
}